body {
  margin: 0;
  
  .app {
    background-color: #F7F5EC;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 50px;

    font-family: 'Karla', sans-serif;
  }
}
